<div class="formOffsetLeft grd-row-col-1-6--md" style="position: relative;">
  <div style="top:0;">
    <a href="#/" class="btn btn--gray">Back</a>
  </div>
</div>
<div style="margin: 2rem;">
Hi there!<br>
This is a POC of a search engine for finding restaurants with vegan options.<br>

<br>
Guide:<br>
----------<br>
- Type a search query for the area you would like to search. <br>
eg: Zurich<br>
eg: Zurich HB<br>
eg: Tibits Zurich<br>
<br>
- Toggle the map and list view with the button in the top right.<br>
- In the list view, select the gear icon to filter the results.<br>
- In the list view, select the plus icon to add a new restaurant.<br>
- In the list view, select a result to view more details.<br>


<br>
These are all the basics you need to get started!<br>
There is no login required, no adverts, no email. Simply use and/or contribute!<br>

<br>
Next time you go out for a meal, why not check whether the restaurant is already available here and if not add it?<br>
</div>
