Hi there!
10) add about page, with technology info, dev plan,

8) add guide / how to page
9) add contact page

this page needs to be all of these

//// PART 0: TOC


//// PART 1 : what this site is and how to use it
site to bring vegan serving restaurants to public's attention and allow public to share a transparent view of the restaurant
allow users to organize when and where to eat, even on hte go

//// PART 2 : vegan in other contexts. Delivery foods, shoes, clothes, motorbike stuff, shops, links to associations, etc
check my mails to chryssa about shoes
lilly's , sushi, flying pizza in ZH for delivery
associations: VGS, tier if focus, animal rights switzerland, etc

//// PART 3 : technology stuff
leaflet, leaflet-geocode, OSM, swiss style


//// PART 4 : CONTACT
