#map-canvas {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  position: absolute;
  z-index: 5;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  /*margin-left: 120px;*/
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#list-toggle {
    margin-top: 5px;
    position: absolute;
    z-index: 5;
    background-color: whitesmoke;
    right: 32px;
    width: 32px;
    height: 32px;
    top: 10px;
    padding: 7px;
    border-radius: 10px;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
}

#places-list {
    margin-top: 45px;
}

#list-view {
    display: none;
    width: 30%;
    height: 100%;
    background-color: grey;
    z-index: 5;
    float: right;
    box-sizing: border-box;
    margin: 0;
    padding-top: 20px;
    list-style-type: none;
    border: 2px solid firebrick;
}

.location {
    margin-bottom: 10px;
    border: 2px solid firebrick;
    border-radius: 5px;
    margin-right: 110px;
    padding: 10px;
    background-color: darkgrey;
}

.location-icon {
    max-height: 50px;
    max-width: 130px;
    border-radius: 5px;
    float: right;
}

.location-name {
    color: firebrick;
    font-weight: bold;
}

.container {
    height: 100%;
    width: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}
