#map-canvas {
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}

.w100 {
  width: 100%;
  max-width: 100%;
}

#list-toggle {
    margin: 0;
}

#list-view {
    height: 100%;
    background-color: grey;
    margin: 0;
    overflow: auto;
}

#list-view a {
  text-decoration: none;
}

#list-view a:hover {
  text-decoration: underline;
}

.location-icon {
    border-radius: 2px;
    float: right;
}

.location-name {
    color: #703030;
    font-weight: bold;
}

.container {
    overflow: hidden;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

a {
  color: midnightblue;
}

/* furtive extensions */
.h100 {height:100%;}
.oflow-y--auto {overflow-y: auto;}
.list-item {border-bottom: rgba(150,150,150,0.9) 1px solid; line-height: 1.3rem;}
.mr05 {margin-right: 0.5rem;}
.ml05 {margin-left: 0.5rem;}
.pt05 {padding-top: 0.5rem;}
.brdrt {border-top: thin solid;}
@media screen and (max-width: 48rem) {
  .mapContainer-listOpen {
    display:  none;
  }
}

.cursor--pointer {
  cursor: pointer;
}

/* furtive overwriting */
input, select, textarea {
  color: black;
}

/* rzslider overwriting */
.rzslider .rz-pointer {
  background-color: rgba(179, 61, 61, 1);
}

.rzslider .rz-pointer:focus {
  outline: none;
}

.rzslider.with-legend {
  margin-top: 16px;
}

.rzslider .rz-pointer.rz-active:after {
  background-color: rgba(179, 61, 61, 1);
}

.rzslider .rz-pointer:after {
  background-color: rgba(179, 61, 61, 1);
}

.rzslider .rz-pointer:hover:after {
  background-color: rgba(179, 61, 61, 1);
}
