#map-canvas {
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}

.w100 {
  width: 100%;
  max-width: 100%;
}

#list-toggle {
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 1000;
}

#list-view {
    height: 100%;
    background-color: grey;
    margin: 0;
    overflow: auto;
}

/*#list-view */
a {
  text-decoration: none;
}

/*#list-view */
a:hover {
  text-decoration: underline;
}

.location-icon {
    border-radius: 2px;
    float: right;
}

.location-name {
    color: #703030;
    font-weight: bold;
}

/* Flag icons */
.locationFlagIcon {
  height: 18px;

}
.locationFlagIcon.meat {
  content: url("/images/meat_options.png");
}
.locationFlagIcon.gf {
  content: url("/images/gluten_free.png");
}
.locationFlagIcon.bio {
  content: url("/images/bio.png");
}
.locationFlagIcon.raw {
  content: url("/images/raw.png");
}
.locationFlagIcon.fullv {
  content: url("/images/100_percent_vegan.png");
}
.locationFlagIcon.local {
  content: url("/images/local.png");
}

.container {
    overflow: hidden;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

a {
  color: midnightblue;
}

/* furtive extensions */
.h100 {height:100%;}
.oflow-y--auto {overflow-y: auto;}
.list-item {border-bottom: rgba(150,150,150,0.9) 1px solid; line-height: 1.3rem;}
.mr05 {margin-right: 0.5rem;}
.ml05 {margin-left: 0.5rem;}
.mb2 {margin-bottom: 2rem;}
.mt1 {margin-top: 1rem;}
.pt05 {padding-top: 0.5rem;}
.brdrt {border-top: thin solid;}
@media screen and (max-width: 48rem) {
  .mapContainer-listOpen {
    display:  none;
  }
}

.cursor--pointer {
  cursor: pointer;
}

/* furtive overwriting */
input, select, textarea {
  color: black;
}

/* rzslider overwriting */
.rzslider .rz-pointer {
  background-color: rgba(179, 61, 61, 1);
}

.rzslider .rz-pointer:focus {
  outline: none;
}

.rzslider.with-legend {
  margin-top: 16px;
}

.rzslider .rz-pointer.rz-active:after {
  background-color: rgba(179, 61, 61, 1);
}

.rzslider .rz-pointer:after {
  background-color: rgba(179, 61, 61, 1);
}

.rzslider .rz-pointer:hover:after {
  background-color: rgba(179, 61, 61, 1);
}

/* leaflet-geosearch overwriting */
@media screen and (max-width: 48rem) {
  .leaflet-control-geosearch.bar {
    margin: 10px 5rem;
    width: auto;
  }
  .list-view-open .leaflet-control-geosearch.bar {
    display: none;
  }
}


/* animations */
/*#list-view.ng-hide {
  -webkit-animation:slideOutRight 0.5s both ease;
	-moz-animation:slideOutRight 0.5s both ease;
	animation:slideOutRight 0.5s both ease;
}
#list-view {
  -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease;
}*/
