
<div class="px2 mx2 center txt--center">

  <div ng-if="$ctrl.prev._id || $ctrl.next._id" class="mt1 grd-row">
    <span class="grd-row-col-3-6">
      <a href="#/maps/id/{{$ctrl.prev._id}}" ng-if="$ctrl.prev._id" class="btn btn--link flt--right">&lt; {{$ctrl.prev.name}}</a>
    </span>
    <span class="grd-row-col-3-6">
      <a href="#/maps/id/{{$ctrl.next._id}}" ng-if="$ctrl.next._id" class="btn btn--link flt--left">{{$ctrl.next.name}} &gt;</a>
    </span>
  </div>

  <div class="list-item py2">
    <div class="mb2">
      <a href="#/maps/id/{{$ctrl.locationDetails._id}}">
        <img ng-src="images/{{$ctrl.locationDetails.picPath || 'default.thumbnail.png'}}" alt="{{$ctrl.locationDetails.name}}" style="max-height: 10rem;"></img>
      </a>
    </div>
    <div>
      <a href="#/maps/id/{{$ctrl.locationDetails._id}}" class="location-name h2">{{$ctrl.locationDetails.name}}</a>
      <div ng-if="$ctrl.locationDetails.distance">{{$ctrl.locationDetails.distance}} m</div>
      <div>
        <span ng-repeat="(key, value) in $ctrl.locationDetails.flags" ng-if="value">
          <img class="locationFlagIcon {{key}}"></img>
        </span>
      </div>
      <div>
        <a href="{{$ctrl.locationDetails.url}}" ng-if="$ctrl.locationDetails.url" target="_blank">website</a>
        <span ng-if="$ctrl.locationDetails.url"> | </span>
        <a ng-href="https://www.google.com/maps/dir/{{$ctrl.LocationService.lastSearch.coords.latitude}},{{$ctrl.LocationService.lastSearch.coords.longitude}}/{{$ctrl.locationDetails.latitude}},{{$ctrl.locationDetails.longitude}}" target="_blank">directions</a>
      </div>
    </div>

  </div>

  <div class="my2">
    <a href="#/maps/edit/{{$ctrl.locationId}}" ng-if="$ctrl.fromSearch" class="btn btn--gray">Edit details</a>

    <a href="#/maps/" ng-if="$ctrl.fromSearch" class="btn btn--blue">Back to map</a>
    <a href="#/maps/" ng-if="!$ctrl.fromSearch" class="btn btn--blue">New search</a>
  </div>
</div>
