<div class="grd-row media py2 list-item">
  <div class="grd-row-col-1-6 media-figure">
    <a href="#/id/{{$ctrl.locationDetails._id}}">
      <img ng-src="images/{{$ctrl.locationDetails.picPath || 'default.thumbnail.png'}}" class="location-icon" alt="{{$ctrl.locationDetails.name}}"></img>
    </a>
  </div>
  <div class="grd-row-col-5-6 media-body">
    <a href="#/id/{{$ctrl.locationDetails._id}}" class="location-name">{{$ctrl.locationDetails.name}}</a>
    <div>{{$ctrl.locationDetails.distance}} m</div>
    <div ng-if="$ctrl.locationDetails.fullv">100% vegan</div>
    <div ng-if="$ctrl.locationDetails.gf">gluten-free options</div>
    <div ng-if="$ctrl.locationDetails.meat">meat options</div>
    <div>
      <a href="{{$ctrl.locationDetails.url}}" ng-if="$ctrl.locationDetails.url" target="_blank">website</a>
      <span ng-if="$ctrl.locationDetails.url"> | </span>
      <a ng-href="https://www.google.com/maps/dir/{{$ctrl.LocationService.lastSearch.coords.latitude}},{{$ctrl.LocationService.lastSearch.coords.longitude}}/{{$ctrl.locationDetails.latitude}},{{$ctrl.locationDetails.longitude}}" target="_blank">directions</a>
    </div>
  </div>

</div>

<div>
  <a href="#/edit/{{$ctrl.locationId}}" ng-if="$ctrl.fromSearch">Edit details</a>
</div>

<div>
  <a href="#/" ng-if="$ctrl.fromSearch">Back to search results</a>
  <a href="#/" ng-if="!$ctrl.fromSearch">New search</a>
</div>

<div>
  <a href="#/id/{{$ctrl.prevId}}" ng-if="$ctrl.prevId">&lt;prev</a>
  <span> - </span>
  <a href="#/id/{{$ctrl.nextId}}" ng-if="$ctrl.nextId">next&gt;</a>
</div>
