
<input id="pac-input" class="controls" placeholder="Search" type="text"></input>
<div class="container grd-row pageRow h100">
  <div id="map-canvas" class="grd-row-col-6-6--lg bg--light-gray w100"></div>
  <img id="list-toggle" src='images/timeline-list-grid-list-icon.png' ng-click="$ctrl.toggleList()">
  <div id="list-view" class"bg--mid-gray oflow-y--auto grd-row-col-2-6--md">
    <div class="bg--dark-gray px1 fnt--light-gray clearfix">
      <div><h3 class="my0">Search results</h3></div>
      Order by:
      <select ng-model="$ctrl.LocationService.lastSearch.orderProp">
        <option value="name">Alphabetical</option>
        <option value="distance">Closest</option>
      </select>
      Filter by:
      <select ng-model="$ctrl.LocationService.lastSearch.filterProp">
        <option value="fullv">100% vegan</option>
        <option value="gf">Gluten-free options</option>
        <option value="meat">Meat options</option>
        <option value="all">show all</option>
      </select>
      Distance:
      <input type="range" min="1" max="5"/>
      <a href="#/new">New</a>
    </div>

    <div class="grd" ng-repeat="location in $ctrl.locationList | filter: $ctrl.filterExpression | orderBy: $ctrl.LocationService.lastSearch.orderProp" class="location">
      <!-- List item -->
      <div class="grd-row media py2 list-item">
        <div class="grd-row-col-1-6 media-figure">
          <a href="#/id/{{location._id}}">
            <img ng-src="images/{{location.picPath}}" class="location-icon" ng-if="location.picPath" alt="{{location.name}}"></img>
          </a>
        </div>
        <div class="grd-row-col-5-6 media-body">
          <a href="#/id/{{location._id}}" class="location-name">{{location.name}}</a>
          <div>{{location.distance}} m</div>
          <a href="{{location.url}}" ng-if="location.url">website</a>
          <div ng-if="location.fullv">100% vegan</div>
          <div ng-if="location.gf">gluten-free options</div>
          <div ng-if="location.meat">meat options</div>
        </div>

      </div>
    </li>

  </div>
</div>
