<a href="#/"><span>{{$ctrl.locationDetails.name}}</span></a>
<img ng-src="images/{{$ctrl.locationDetails.picPath}}" ng-if="$ctrl.locationDetails.picPath" alt="{{$ctrl.locationDetails.name}}"></img>

<div>
  <table>
    <tr ng-repeat="(key, value) in $ctrl.locationDetails">
      <td> {{key}} </td>
      <td> {{ value }} </td>
    </tr>
  </table>
</div>


<div>
  <a href="#/" ng-if="$ctrl.fromSearch">Back to search results</a>
  <a href="#/" ng-if="!$ctrl.fromSearch">New search</a>
</div>

<div>
  <a href="#/id/{{$ctrl.prevId}}" ng-if="$ctrl.prevId">&lt;prev</a>
  <span> - </span>
  <a href="#/id/{{$ctrl.nextId}}" ng-if="$ctrl.nextId">next&gt;</a>
</div>
