<div class="formContainer grd-row">
  <div class="grd-row-col-6-6--md m1">
    <h4>Add a new location:</h4>

    <location-form location="$ctrl.oriLocation"></locaion-form>

  </div>

</div>

<div class="formOffsetRight grd-row">
  <div style="top:0;" class="grd-row-col-1-6--md">
      <a href="#/maps/" ng-if="$ctrl.LocationService.lastSearch && $ctrl.LocationService.lastSearch.results" class="btn btn--gray">Back to map</a>
      <a href="#/maps/" ng-if="!($ctrl.LocationService.lastSearch && $ctrl.LocationService.lastSearch.results)" class="btn btn--gray">New search</a>
  </div>
</div>
