<!-- TODO : make pretty expanding search box -->
<div id="searchTrigger" class="container-map-location-search" ng-if="$ctrl.LocationService.mapType === 'google'">
  <i class="fa fa-search"></i>
  <input id="searchTextField" class="fa fa-search" type="text" placeholder="Search"></input>
</div>

<i id="list-toggle" class="bg--dark-gray fnt--light-gray fa cursor--pointer h3 p1" ng-class="{'fa-bars': !$ctrl.LocationService.listView}" ng-click="$ctrl.toggleList()" aria-label="Toggle list" ng-show="!$ctrl.LocationService.listView"></i>
<div class="container grd-row pageRow h100" ng-class="{'list-view-open': $ctrl.LocationService.listView}">
  <location-map id="map-canvas" ng-class="{'grd-row-col-4-6--md': $ctrl.LocationService.listView, 'w100': !$ctrl.LocationService.listView, 'grd-row-col-6--lg': !$ctrl.LocationService.listView}"></location-map>

  <!-- List -->
  <div id="list-view" ng-show="$ctrl.LocationService.listView" ng-class="{'grd-row-col-2-6--md': $ctrl.LocationService.listView}" class="fnt--moon">
    <!-- List Header -->
    <div id="list-view-header" class="p1 clearfix">
      <!-- List Header Controls -->
      <div class="grd-row">
        <h3 class="my0 txt--left grd-row-col-3-6 fnt--moon"><a href="maps#/" class="fnt--moon-bold home-link">v_m</a> Feed me.</a></h3>

        <div class="txt--right h3 grd-row-col-3-6" style="margin:0;">
          <a href="#/maps/new" aria-label="Create location"><i class="fa fa-plus create-location-button"></i></a>

          <i class="fa fa-cog ml1 cursor--pointer" ng-click="$ctrl.toggleOptions()" aria-label="Toggle search options form"></i>

          <i class="fa fa-map ml1 cursor--pointer" ng-click="$ctrl.toggleList()" aria-label="Toggle list" ng-show="$ctrl.LocationService.listView"></i>
        </div>
      </div>

      <!-- List Header Options Menu -->
      <div class="searchOptionsContainer grd-row grd-row-col-6 pt05 brdrt" ng-init="showOptions = false" ng-show="showOptions">
        <div class="grd p0">
          <div class="grd-row">
            <div class="grd-row-col-3-6 mr05">
              Order by:
              <select ng-model="$ctrl.LocationService.lastSearch.orderProp">
                <option value="name">Alphabetical</option>
                <option value="distance">Closest</option>
              </select>
            </div>

            <div class="grd-row-col-3-6 ml05">
              Filter by:
              <select ng-model="$ctrl.LocationService.lastSearch.filterProp">
                <option value="fullv">100% vegan</option>
                <option value="gf">Gluten-free options</option>
                <option value="meat">Meat options</option>
                <option value="all">show all</option>
              </select>
            </div>
          </div>

          <div class="grd-row">
            Distance:
            <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options" class="with-legend"></rzslider>
          </div>
        </div>
      </div>
    </div>

    <!-- List Contents -->
    <div class="grd oflow-y--auto" ng-repeat="location in $ctrl.LocationService.lastSearch.results | filter: $ctrl.filterExpression | orderBy: $ctrl.LocationService.lastSearch.orderProp as filteredPlaces">
      <!-- List item -->
      <div class="grd-row media py2 list-item">
        <div class="grd-row-col-1-6 media-figure">
          <a href="#/maps/id/{{location._id}}">
            <img ng-src="images/{{location.picPath || 'default.thumbnail.png'}}" class="location-icon" alt="{{location.name}}"></img>
          </a>
        </div>
        <div class="grd-row-col-5-6 media-body">
          <a href="#/maps/id/{{location._id}}" class="location-name">{{location.name}}</a>
          <div>{{location.distance}} m</div>
          <span ng-repeat="(key, value) in location.flags" ng-if="value"><img class="locationFlagIcon {{key}}"></img> </span>
          <div>
            <a href="{{location.url}}" ng-if="location.url" target="_blank">website</a>
            <span ng-if="location.url"> | </span>
            <a ng-href="https://www.google.com/maps/dir/{{$ctrl.LocationService.lastSearch.coords.latitude}},{{$ctrl.LocationService.lastSearch.coords.longitude}}/{{location.latitude}},{{location.longitude}}" target="_blank">directions</a>
          </div>
        </div>

      </div>
    </div>

    <div ng-if="filteredPlaces.length===0 && $ctrl.LocationService.lastSearch.results.length!==0" style="margin:1rem;">No places found for given filter. Try relaxing filter settings. Places within 10km of your search: {{$ctrl.LocationService.lastSearch.results.length}}</div>

    <div ng-if="$ctrl.LocationService.lastSearch.results.length===0" style="margin:1rem;">No places found within 10km of your search. Try another search.</div>
  </div>
</div>
