<div id="searchTrigger" class="container-map-location-search" ng-if="$ctrl.LocationService.mapType === 'google'">
  <i class="fa fa-search"></i>
  <input id="searchTextField" class="fa fa-search" type="text" placeholder="Search"></input>
</div>

<i id="list-toggle" class="bg--dark-gray fnt--light-gray fa cursor--pointer h3 p1" ng-class="{'fa-bars': !$ctrl.LocationService.listView}" ng-click="$ctrl.toggleList()" aria-label="Toggle list" ng-show="!$ctrl.LocationService.listView"><md-tooltip md-direction="bottom">open list</md-tooltip></i>
<div class="container grd-row pageRow h100" ng-class="{'list-view-open': $ctrl.LocationService.listView}">
  <location-map id="map-canvas" ng-class="{'grd-row-col-4-6--md': $ctrl.LocationService.listView, 'w100': !$ctrl.LocationService.listView, 'grd-row-col-6--lg': !$ctrl.LocationService.listView}"></location-map>

  <!-- List -->
  <md-sidenav md-component-id="right" class="md-sidenav-right fnt--moon" id="list-view" ng-class="{'grd-row-col-2-6--md': $ctrl.LocationService.listView}" md-disable-backdrop md-is-open="$ctrl.LocationService.listView">
  <!--div id="list-view" ng-show="$ctrl.LocationService.listView" ng-class="{'grd-row-col-2-6--md': $ctrl.LocationService.listView}" class="fnt--moon"-->
    <!-- List Header -->
    <div id="list-view-header" class="p1 clearfix">
      <!-- List Header Controls -->
      <div class="grd-row">
        <h3 class="my0 txt--left grd-row-col-3-6 fnt--moon"><a href="maps#/" class="fnt--moon-bold home-link">v_m <md-tooltip md-direction="bottom">home</md-tooltip></a> Feed me.
          </h3>

        <div class="txt--right h3 grd-row-col-3-6" style="margin:0;">
          <a href="#/" aria-label="go to home page"><i class="fa fa-home create-location-button" aria-label="go to home page"></i><md-tooltip md-direction="bottom">home</md-tooltip></a>

          <a ng-href="#/maps/new" aria-label="Create location"><i class="fa fa-plus create-location-button pl1"></i><md-tooltip md-direction="bottom">add restaurant</md-tooltip></a>

          <i class="fa fa-filter pl1 cursor--pointer" ng-click="$ctrl.toggleOptions()" aria-label="Toggle search options form"><md-tooltip md-direction="bottom">filter results</md-tooltip></i>

          <i class="fa fa-close pl1 cursor--pointer" ng-click="$ctrl.toggleList()" aria-label="Toggle list" ng-show="$ctrl.LocationService.listView"><md-tooltip md-direction="bottom">close list</md-tooltip></i>
        </div>
      </div>

      <!-- List Header Options Menu -->
      <div class="searchOptionsContainer grd-row grd-row-col-6 pt05 brdrt" ng-init="showOptions = false" ng-show="showOptions">
        <div class="grd p0">
          <div class="grd-row">
            <div class="grd-row-col-3-6 mr05">
              <!--Order by:
              <select ng-model="$ctrl.LocationService.lastSearch.orderProp">
                <option value="name">Alphabetical</option>
                <option value="distance">Closest</option>
              </select-->
              <md-input-container style="display: block;">
               <label>Order by:</label>
               <md-select ng-model="$ctrl.LocationService.lastSearch.orderProp">
                <md-option value="name">Alphabetical</md-option>
                <md-option value="distance">Closest</md-option>
               </md-select>
             </md-input-container>
            </div>

            <div class="grd-row-col-3-6 ml05">
              <!--Filter by:
              <md-select ng-model="$ctrl.LocationService.lastSearch.filterProp">
                <option value="fullv">100% vegan</option>
                <option value="gf">Gluten-free options</option>
                <option value="meat">Meat options</option>
                <option value="all">show all</option>
              </md-select-->
              <md-input-container style="display: block;">
               <label>Filter by:</label>
               <md-select ng-model="$ctrl.LocationService.lastSearch.filterProp" multiple>
                <md-option value="fullv">100% vegan</md-option>
                <md-option value="gf">Gluten-free options</md-option>
                <md-option value="meat">Meat options</md-option>
                <md-option value="open">Open now</md-option>
               </md-select>
             </md-input-container>
            </div>
          </div>

          <div class="grd-row">
            Distance:
            <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options" class="with-legend"></rzslider>
          </div>

          <!--div class="grd-row">
            <md-checkbox ng-model="$ctrl.LocationService.lastSearch.filterByOpenNow">Open now</md-checkbox>
          </div-->
        </div>
      </div>
    </div>

    <!-- List Contents -->
    <div class="grd oflow-y--auto" ng-repeat="location in $ctrl.LocationService.lastSearch.results | filter: $ctrl.filterExpression | orderBy: $ctrl.LocationService.lastSearch.orderProp as filteredPlaces">
      <!-- List item -->
      <div class="grd-row media py2 list-item">
        <div class="grd-row-col-1-6 media-figure">
          <a href="#/maps/id/{{location._id}}">
            <img ng-src="images/{{location.picPath || 'default.thumbnail.png'}}" class="location-icon" alt="{{location.name}}"></img>
          </a>
        </div>
        <div class="grd-row-col-3-6 media-body">
          <a href="#/maps/id/{{location._id}}" class="location-name">{{location.name | removeDiacriticsFilter}}</a>
          <div style="padding-left: 0.3rem;">{{location.distance}} m</div>
          <div ng-repeat="(key, value) in location.flags" ng-if="value" class="locationFlagIcon {{key}}">
            <!--img class="locationFlagIcon {{key}}"-->
              <md-tooltip md-direction="bottom" md-delay="100">{{key}}</md-tooltip>
            <!--/img-->
          </div>

        </div>
        <div class="grd-row-col-2-6 media-body">
          <span ng-if="$ctrl.hasOpenTimes(location.openTimes) && $ctrl.isOpen(location.openTimes)" style="color: green; cursor:pointer;" ng-click="location.showOpenTimes = !location.showOpenTimes">
            <i class="fa fa-clock-o" aria-label="restaurant is open"></i> OPEN <i class="fa" ng-class="{'fa-angle-down': !location.showOpenTimes, 'fa-angle-up': location.showOpenTimes}" aria-label="show open times"></i>
          </span>
          <span ng-if="$ctrl.hasOpenTimes(location.openTimes) && !$ctrl.isOpen(location.openTimes)" style="color: red; cursor:pointer;" ng-click="location.showOpenTimes = !location.showOpenTimes">
            <i class="fa fa-clock-o" aria-label="restaurant is closed"></i> CLOSED <i class="fa" ng-class="{'fa-angle-down': !location.showOpenTimes, 'fa-angle-up': location.showOpenTimes}" aria-label="show open times"></i>
          </span>
          <span ng-if="!$ctrl.hasOpenTimes(location.openTimes)" style="color: orange; cursor:pointer;" ng-click="location.showOpenTimes = !location.showOpenTimes">
            <i class="fa fa-clock-o" aria-label="restaurant could be open or closed. missing data"></i> open? <i class="fa" ng-class="{'fa-angle-down': !location.showOpenTimes, 'fa-angle-up': location.showOpenTimes}" aria-label="show open times"></i>
          </span>

          <div class="openTimesList" ng-show="location.showOpenTimes">
            <div ng-repeat="(day, times) in location.openTimes" ng-if="times.times.length>0" ng-class="{'well': $ctrl.isToday(day)}">{{$ctrl.isoToStringDay(day)}}
              <div ng-repeat="timeSlot in times.times" class="ml1">{{$ctrl.getTimeString(timeSlot.start)}} - {{$ctrl.getTimeString(timeSlot.end)}}</div>
            </div>
            <div ng-hide="$ctrl.hasOpenTimes(location.openTimes)">No open times found</div>
          </div>

          <div>
            <a href="{{location.url}}" ng-if="location.url" target="_blank"><i class="fa fa-globe" aria-label="Visit restaurant's website"></i> website</a>
          </div>
          <div>
            <a ng-href="https://www.google.com/maps/dir/{{$ctrl.LocationService.lastSearch.coords.latitude}},{{$ctrl.LocationService.lastSearch.coords.longitude}}/{{location.latitude}},{{location.longitude}}" target="_blank"><i class="fa fa-arrow-right" aria-label="Get directions from Google"></i> directions</a>
          </div>
        </div>

      </div>
    </div>

    <div ng-if="filteredPlaces.length===0 && $ctrl.LocationService.lastSearch.results.length!==0" style="margin:1rem;">No places found for given filter. Try relaxing filter settings. Places within 10km of your search: {{$ctrl.LocationService.lastSearch.results.length}}</div>

    <div ng-if="$ctrl.LocationService.lastSearch.results.length===0" style="margin:1rem;">No places found within 10km of your search. Try another search.</div>
  </md-sidenav>
  <!--/div-->
</div>
