<style>
.landingTitle:hover {
  text-decoration: underline overline;
}

#autocompleter input:first-child {

  line-height: 4rem;
  height: 4rem;
  font-size: 2rem;
  font-family: 'Moon Light', 'Architext Regular', serif;
  border: 2px solid black;
  border-radius:3px;
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;
}
#autocompleter .results {
  max-width: 700px;
  margin: auto;
  cursor: pointer;
  text-align: left;
  border: 1px solid grey;
  visibility: hidden;
}
#autocompleter .results.active {
  visibility: visible;
}
#autocompleter .results div:hover {
  background-color: grey;
}
#autocompleter .results.active div {
  padding: 0.3rem;
}
#autocompleter .btn {
  font-size: 3rem;
  padding: 0.5rem 1rem;
  font-family: "Moon Light", "Architext Regular", serif;
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
  border: 2px solid rgb(204, 204, 204);
  width: auto;
  margin: 2rem auto auto;
}
.landingTitle {
  text-align: center;
  font-size: 16rem;
  margin: 0 auto;
  opacity: 1;
  cursor:pointer;   box-sizing: content-box; line-height:normal;
  display: inline-block;
}
.landingContainer {
  font-family: 'Moon Light', 'Architext Regular', serif;
  text-align: center;
  margin: auto;
  background-color: rgba(255,255,255,0.8);
  margin-top: 1rem;
  margin-right:20rem;
  margin-left:20rem;
}
.landingSlogan {
  text-align: center;
  font-size: 4rem;
  opacity: 1;
}
.landingInfoIcon {
  position: fixed;
  height: 4rem;
  width: 4rem;
  top: 2rem;
  right: 2rem;
}
.landingFooter {
  margin-top: 2rem;
  font-family: 'Moon Light', 'Architext Regular', serif;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  font-size: 2rem;
}
@media screen and (max-width: 48rem) {
  .landingTitle {
    font-size: 12rem;
  }
  .landingContainer {
    margin: auto;
  }
  .landingSlogan {
    font-size: 3rem;
  }
  #autocompleter {
    margin: 1rem;
  }
  .landingInfoIcon {
    top: 1rem;
    right: 0.5rem;
  }
  .landingFooter {
    margin: 0 1rem;
    width: auto;
    font-size: 1.5rem;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) { /* IPAD LANDSCAPE ONLY STYLES GO HERE */

    .landingTitle {
      font-size: 12rem;
    }
    .landingContainer {
      margin: auto;
    }
    .landingSlogan {
      font-size: 3rem;
    }
    #autocompleter {
      margin: 1rem;
    }
    .landingInfoIcon {
      top: 1rem;
      right: 0.5rem;
    }
    .landingFooter {
      margin: 0 1rem;
      width: auto;
      font-size: 1.5rem;
    }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) { /* IPHONE6 LANDSCAPE ONLY STYLES GO HERE */
  .landingTitle {
      font-size: 6rem;
  }
  .landingSlogan {
    font-size: 2rem;
  }
  #autocompleter {
    margin-bottom: 0;
  }
  #autocompleter form {
    margin-bottom: 0;
  }
  #autocompleter input:first-child {
    line-height: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-top: 0;
  }
  #autocompleter .btn { // has to have !important since leaflet-geoccode is adding these elements with style directly in the DOM instead of class based
    margin: auto !important;
    margin-top: 1rem !important;
    font-size: 1.5rem !important;
  }
  .landingFooter {
    margin: 0 1rem;
    width: auto;
    font-size: 1rem;
  }
}
</style>
<div style="color:black; line-height:normal;box-sizing: content-box; ">
<div style="font-family: 'Moon Bold', 'Architext Regular', serif;text-align: center;margin: auto;background: white;color:black;    box-sizing: content-box;">
  <h1 class="landingTitle"
      >v_M
  </h1>
</div>
<div class="landingContainer">
  <span style="" class="landingSlogan">Bringing vegan food to the digital nomad.*</span>

  <br>

  <div id="autocompleter"></div>

  <br>

  <div class="landingFooter">
    <span>*So long as they are in Switzerland.</span><br>
    <span>**No food will actually be brought to anyone.</span><br>
    <span>***Unless they use a <strong style="cursor:pointer;">delivery service</strong>.</span>
  </div>

</div>
</div>

<a href="#/info">
  <img src="../images/info.png" class="landingInfoIcon">
  </img>
</a>
