<style>
.landingTitle:hover {
  text-decoration: underline overline;
}

#autocompleter input:first-child {

  line-height: 4rem;
  height: 4rem;
  font-size: 2rem;
  font-family: 'Moon Light', 'Architext Regular', serif;
  border: 2px solid black;
  border-radius:3px;
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;
}
#autocompleter .results {
  max-width: 700px;
  margin: auto;
  cursor: pointer;
  text-align: left;
  border: 1px solid grey;
  visibility: hidden;
}
#autocompleter .results.active {
  visibility: visible;
}
#autocompleter .results div:hover {
  background-color: grey;
}
#autocompleter .results.active div {
  padding: 0.3rem;
}

</style>
<div style="color:black; line-height:normal;box-sizing: content-box; ">
<div style="font-family: 'Moon Bold', 'Architext Regular', serif;text-align: center;margin: auto;background: white;color:black;    box-sizing: content-box;">
  <h1 style="
      text-align: center;
      font-size: 16rem;
      margin: 0 auto;
      opacity: 1;
      cursor:pointer;   box-sizing: content-box; line-height:normal;
    display: inline-block;

      " class="landingTitle"
      >v_M
  </h1>
</div>
<div style="
    font-family: 'Moon Light', 'Architext Regular', serif;
    text-align: center;
    margin: auto;
    background-color: rgba(255,255,255,0.8);
    margin-top: 1rem;
    margin-right:20rem;
    margin-left:20rem;
    ">
  <span style="text-align: center;font-size: 4rem;opacity: 1;">Bringing vegan food to the digital nomad.*</span>


  <br>
<div id="autocompleter"></div>

<!-- old implementation without autocomplete
<form id="locationSearchForm">
  <input style="
  line-height: 4rem;
  height: 4rem;
  width: 70%;
  font-size: 2rem;
  font-family: 'Moon Light', 'Architext Regular', serif;
  border: 2px solid black;
  border-radius:3px;
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;"
  placeholder="swiss street, city">
  <input class="btn" type="submit" value="Search" style="
  font-size: 3rem;
  padding: 0.5rem 1rem;
  font-family: 'Moon Light', 'Architext Regular', serif;
  cursor: pointer;
  background: transparent;
  border-radius:3px;
  border: 2px solid #ccc;
  width: auto;
  margin: auto;
  margin-top: 2rem;
  "/>
</form>
-->
  <br>



  <div style="
    margin-top: 2rem;
    font-family: 'Moon Light', 'Architext Regular', serif;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    ">



    <span style="
      text-align: center;
      font-size: 2rem;
      margin: 0 auto;
      opacity: 1;
      ">*So long as they are in Switzerland.</span><br>

      <span style="text-align: center;font-size: 2rem; ;margin: 0 auto;opacity: 1;">**No food will actually be brought to anyone.</span><br>
      <span style="text-align: center;font-size: 2rem; ;margin: 0 auto;opacity: 1;">***Unless they use a <strong style="cursor:pointer;">delivery service</strong>.</span>
  </div>

</div>
</div>

<a href="#/info">
  <img src="../images/info.png" style="
    position: fixed;
    height: 4rem;
    width: 4rem;
    top: 2rem;
    right: 2rem;">
  </img>
</a>
