<div style="color:black; line-height:normal;box-sizing: content-box; ">
<div style="font-family: 'Moon Bold', 'Architext Regular', serif;text-align: center;margin: auto;background: white;color:black;    box-sizing: content-box;">
  <h1 style="
      text-align: center;
      font-size: 20rem;
      margin: 0 auto;
      opacity: 1;
      padding: 20px;
      cursor: default;    box-sizing: content-box; line-height:normal;
      ">v_M
  </h1>
</div>
<div style="
    font-family: 'Moon Light', 'Architext Regular', serif;
    text-align: center;
    margin: auto;
    background-color: rgba(255,255,255,0.8);
    margin-top: 1rem;
    ">
  <span style="text-align: center;font-size: 5rem;opacity: 1;">Bringing** vegan food to the digital nomad.*</span>


  <br>
<form id="locationSearchForm">
  <input style="
  line-height: 4rem;
  height: 4rem;
  width: 70%;
  font-size: 3rem;
  font-family: 'Moon Light', 'Architext Regular', serif;
  border: 2px solid black;
  border-radius:3px;
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;">
  <input class="btn" type="submit" value="Search" style="
  font-size: 3rem;
  padding: 0.5rem 1rem;
  font-family: 'Moon Light', 'Architext Regular', serif;
  cursor: pointer;
  background: transparent;
  border-radius:3px;
  border: 2px solid #ccc;
  width: auto;
  margin: auto;
  margin-top: 2rem;
  "/>
</form>
  <br>



  <div style="
    margin-top: 2rem;
    font-family: 'Moon Light', 'Architext Regular', serif;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    ">



    <span style="
      text-align: center;
      font-size: 2rem;
      margin: 0 auto;
      opacity: 1;
      padding: 20px;
      ">*So long as they are in Switzerland.</span><br>

    <span style="text-align: center;font-size: 2rem; ;margin: 0 auto;opacity: 1;
    padding: 20px;">**No food will actually be brought to anyone.</span>
  </div>

</div>
</div>
